{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% if app.user %}
<!-- Header -->
<header class="masthead col-lg-12 text-truncate">  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Profil</h1>
    </div>
  </div>
</header>


<section id="form">
<div class="container justify-content-center">
  <div class="p-2 justify-content-center">
  <div class="container-fluid well span6 justify-content-center">
    <div class="row justify-content-around">
          <div class="span2 justify-content-center" >
          {% if app.user.filename == null %}
            <img src="img/avatar/default.png" class="img-fluid img-responsive" style="width: 150px; height: 150px;">
          {% else %}
            <img src="img/avatar/{{ app.user.filename }}" class="img-fluid img-responsive" style="width: 150px; height: 150px;">
          {% endif %}
          </div>

          <div class="span8">
              <h3>{{ app.user.firstname }} {{ app.user.name }}</h3>
              <h6>Date d'inscirption : {{ app.user.dateRegister|date('d-m-Y à H:i:s') }}</h6>
              <h6>Email : {{ app.user.username }}</h6>
              {% if app.user.isactive == 0 %}
                <h6>Validation : Email non valider.</h6>
              {% else %}
                <h6>Validation : Email valider !</h6>
              {% endif %}
              {% if app.user.isvalide == 0 %}
                <h6>Approuver : Votre compte n'est pas encore approuver par un administrateur.</h6>
              {% else %}
                <h6>Approuver : Votre compte est approuver !</h6>
              {% endif %}
          </div>

          <div class="span2">
              <div class="btn-group">
                  <a class="btn btn-info" href="{{ path('editprofil')}}#form">
                      Modifier
                  </a>
              </div>
              <div class="btn-group">
                  <a class="btn btn-info" href="{{ path('editprofilpassword')}}#form">
                      Modifier mot de passe
                  </a>
              </div>
          </div>
    </div>
    </div>
  </div>
</div>
</section>

{% else %}
  <div class="alert alert-danger">Vous devez être connecter</div>
{% endif %}
{% endblock %}
