{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
<!-- Header -->
<header class="masthead col-lg-12 text-truncate" style="background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 75%,#161616 100%),url('img/img_background/{{ trick.imgBackground }}'); background-position: center; background-repeat: no-repeat; background-attachment: scroll; background-size: cover;">
  <div class="container col-lg-12 d-flex h-100 align-items-center">
    <div class="mx-auto col-lg-12 text-center">
      <h1 class="mx-auto my-0 col-lg-12 text-truncate text-uppercase">{{ trick.name }}</h1>
      <h2 class="text-white-50 col-lg-12 mx-auto mt-2 mb-5"></h2>
    </div>
  </div>
</header>




<section id="projects" class="bg-light">
{% if app.user and app.user.isactive == 1 and app.user.isvalide == 1 %}
<div class="d-flex justify-content-end mb-5 mt-3 mr-3 ">
    <a href="{{ path('trick.edit', {id: trick.id, name: trick.name})}}#form"
      <button class="btn btn-primary"><i class="far fa-edit"></i>Editer</button>
    </a>
</div>
{% endif %}



    <div class="container">
    <div class="p-2">
    {% if medias != null %}
    <div class="main-content col-xs-12 col-lg-12">
    <div class="owl-carousel owl-theme mx-auto align-items-center col-xs-12 col-lg-12">
      {% for medias in medias %}
        {% if medias.type == "image" %}
          <a href="img/img_media/{{ medias.filename }}">
        {% elseif medias.type == "youtube" %}
          <a href="https://www.youtube.com/embed/{{ medias.filename }}">
        {% endif %}
          <div class="item mb-5 w-100">
            {% if medias.type == "image" %}
              <img class="card-img-bottom img-fluid img-responsive" style=" height: 150px;" src="img/img_media/{{ medias.filename }}" alt="">
            {% elseif medias.type == "youtube" %}
              <iframe class="card-img-bottom" width="277" height="150" src="https://www.youtube.com/embed/{{ medias.filename }}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="owl-theme">
        <div class="owl-controls">
            <div class="custom-nav owl-nav"></div>
        </div>
    </div>
    </div>
    {% endif %}

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Description</h4>
            <p class="text-black-50 mb-0">{{ trick.description|raw }}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

<section id="" class="projects-section bg-light" style="padding: 5rem 0;">
  <div class="container">
    <div class="row col-md-12">
      <div class="d-flex flex-wrap justify-content-around align-content-sm-center col-md-12">
        <div>
          <p><i class="far fa-share-square"></i> {{ trick.datePublish|date("d/m/Y à H:i:s") }} par {{ trick.user.firstname }} {{ trick.user.name }} </p>
        </div>
        {% if trick.dateModify != null %}
        <div>
          <p><i class="far fa-edit"></i> Modifier le ( {{ trick.dateModify|date("d/m/Y à H:i:s") }} par {{ trick.userModify.firstname }} {{ trick.userModify.name }}) </p>
        </div>
        {% endif %}
        <div>
          <p><i class="fas fa-layer-group"></i> {{ trick.groupe.groupe }} </p>
      </div>
    </div>
  </div>
  </div>
</section>


<div class="container">
    <div class="row col-lg-12">
        <div class="panel panel-default widget col-lg-12">
            <div class="panel-heading col-lg-12 border mb-3">
                <span class=""></span>
                {% if app.user and app.user.isactive == 1 %}
                <h3 class="panel-title">
                    Ajouter un commentaire</h3>
                    <form action="{{ path('addcomment', {name: trick.name, id: trick.id}) }}" method="post">


                    <div class="form-group">
                      <label for="content"></label>
                      <input type="text" name="content" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-secondary mb-3">Envoyer</button>
                    </form>
                  {% elseif app.user and app.user.isactive == 0 %}
                      <div class="panel-heading col-lg-12">
                          <span class="glyphicon glyphicon-comment"></span>
                          <h3 class="comment-text">
                              Vous devez valider votre compte pour laisser un commentaire</h3>
                      </div>
                  {% else %}
                    <div class="panel-heading col-lg-12">
                        <span class="glyphicon glyphicon-comment"></span>
                        <h3 class="comment-text">
                            Vous devez être connecter pour laisser un commentaire</h3>
                    </div>
                  {% endif %}
            </div>
            <div class="panel-heading col-lg-12">
                <span class=""></span>
                <h3 class="panel-title">
                    Commentaires</h3>
            </div>
            <div id="commentsResult">

            </div>

                <button id="btnLoadMoreComments" class="btn btn-secondary mt-3 mb-3" data-page="0" data-tricksid="{{ trick.id }}">Voir plus</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
