{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
<!-- Header -->
<header class="masthead" style="background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 75%,#161616 100%),url('img/img_masthead_trick/trick_{{ trick.id }}.jpg'); background-position: center; background-repeat: no-repeat; background-attachment: scroll; background-size: cover;">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">{{ trick.name }}</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
    </div>
  </div>
</header>

<section id="projects" class="projects-section bg-light">
    <div class="container">

    <div class="card-group col-xs-12 col-lg-12">
      <div class="row mx-auto align-items-center col-xs-12 col-lg-12">
      <!-- Featured Project Row -->
        {% for medias in medias %}
          {% if medias.type == "image" %}
            <div class="card mb-5 w-100 col-md-2 col-xs-12 col-lg-3">
              <a href="{{ medias.lien }}">
                <div class="card-body">
                  <img class="card-img-bottom img-fluid img-responsive" style=" height: 150px;" src="{{ medias.lien }}" alt=""></img>
                </div>
              </a>
            </div>
        {% elseif medias.type == "youtube" %}
          <div class="card mb-5 w-100 col-md-2 col-xs-12 col-lg-3">
            <a href="{{ medias.lien }}">
              <div class="card-body">
                <iframe width="200" height="143" src="{{ medias.lien }}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Description</h4>
            <p class="text-black-50 mb-0">{{ trick.description }}</p>
          </div>
        </div>
      </div>
  </section>

<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div class="row col-md-12">
      <div class="d-flex flex-wrap justify-content-around align-content-sm-center col-md-12">
        <div>
          <p><i class="far fa-share-square"></i> {{ trick.datePublish|date("d/m/Y à H:i:s") }} </p>
        </div>
        {% if trick.dateModify != null %}
        <div>
          <p><i class="far fa-edit"></i> Modifier le ( {{ trick.dateModify|date("d/m/Y à H:i:s") }} ) </p>
        </div>
        {% endif %}
        <div>
          <p><i class="fas fa-layer-group"></i> {{ trick.groupe.groupe }} </p>
      </div>
    </div>
  </div>
</section>


{% endblock %}
