<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link rel="shortcut icon" href="/P6/public/favicon.ico">
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ asset('vendor/owlcarousel/owl.carousel.css')}}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{{ asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Varela+Round')}}" rel="stylesheet">
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')}}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/grayscale.min.css')}}" rel="stylesheet">
        <link href="{{ asset('vendor/comments/comments.css')}}" rel="stylesheet">
        <link href="{{ asset('vendor/scrolltotop.css')}}" rel="stylesheet">
        <script src="{{ asset('https://cdn.tiny.cloud/1/6yj2fi6nx4ebdesr1xbpo1plo79myuh4tg6wz4wyb5mjyvrx/tinymce/5/tinymce.min.js')}}" referrerpolicy="origin"></script>


    </head>
    <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top col-lg-12 col-12" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('home') }}">SnowTricks</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          {% if not app.user %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('login') }}#ancre">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('register') }}#ancre">Inscription</a>
            </li>
          {% endif %}
          {% if app.user %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('logout') }}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('profil') }}#ancre">Profil</a>
            </li>
            {% if app.user and app.user.admin == 1 %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('admin') }}#ancre">Admin</a>
              </li>
            {% endif %}
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% for message in app.flashes('message') %}
    <div class="alert alert-success col-lg-2 col-12">
    {{ message }}
    </div>
  {% endfor %}
    {% block body %}{% endblock %}

        <!-- Contact Section -->
        <section class="contact-section bg-black">
          <div class="container">

            <div class="social d-flex justify-content-center">
              <a href="#" class="mx-2">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="fab fa-facebook-f"></i>
              </a>
            </div>

          </div>
        </section>

        <!-- Footer -->
        <footer class="bg-black small text-center text-white-50">
          <div class="container">
            Copyright &copy; SnowTricks 2020
          </div>
        </footer>
        <!-- Bootstrap core JavaScript -->
        {% block javascripts %}
          <script src="{{ asset('vendor/jquery/jquery.min.js')}}"></script>
          <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
          <script src="{{ asset('vendor/bootstrap/js/bootstrap.js')}}"></script>
          <script src="{{ asset('vendor/owlcarousel/owl.carousel.js')}}"></script>
          <script src="{{ asset('vendor/owlcarousel/app.js')}}"></script>
          <script src="{{ asset('vendor/fileupload/app.js')}}"></script>
          <script src="{{ asset('vendor/tinymce/app.js')}}"></script>
          <script src="{{ asset('vendor/scrolltotop/app.js')}}"></script>

          <!-- Plugin JavaScript -->
          <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js')}}"></script>

          <!-- Custom scripts for this template -->
          <script src="{{ asset('js/grayscale.min.js')}}"></script>
        {% endblock %}

    </body>
</html>
